.header {
    background-image: url(../img/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;

    @media (max-width:1024px) {
        background-position: left center;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width:1024px) {
    .burger {
        position: fixed;
        display: block;
        top: 40px;
        z-index: 2;
        right: 40px;
        transition: all 0.2s;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 0;
            width: 30px;
            height: 2px;
            background-color: #fff;
            transition: all 0.2s;
        }

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            bottom: 0;
            width: 30px;
            height: 2px;
            background-color: #fff;
            transition: all 0.2s;
        }
    }

    .burger.active::after {
        transform: rotate(45deg);
        top: 0px;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 0px;

    }

    .burger__line {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: all 0.2s;
    }

    .burger__line.active {
        opacity: 0;
    }

}




.title {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 189px;
        height: 1px;
        background-color: #fff;
        bottom: -24px;
        left: 50%;
        transform: translate(-50%, -50%);


        @media (max-width:768px) {
            bottom: -18px;
        }

        @media (max-width:480px) {
            bottom: -10px;
        }
    }
}




.header__top {
    display: flex;
    justify-content: space-between;
    padding: 48px 40px 0 40px;

    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;


    @media (max-width:768px) {
        padding: 20px 0px 0 20px;
    }

}

.logo {
    display: block;
    color: #eee;
}

.menu {
    margin-left: auto;
    display: block;

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    &__link {
        color: #fff;
        transition: all linear .2s;

        &:hover {
            color: rgb(182, 37, 37);
            text-shadow: 0 0 5px rgb(163, 66, 66)
        }

        &:active {
            color: #fff;
            text-shadow: 0 0 15px #fff;
        }
    }

    @media (max-width:1024px) {
        display: none;
    }
}

.menu.active {
    display: block;
    background-color: #000;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all .2s;

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .menu__item {
        margin-bottom: 30px;
    }

    .menu__item:not(:last-child) {
        margin-right: 0px;
    }
}

.roasters {
    padding-top: 60px;
    color: #fff;
    max-width: 962px;
    text-align: center;
    margin: auto auto;


    @media (max-width:1024px) {
        padding: 0 15px;
    }

    &__logo {
        margin-bottom: 24px;

    }

    &__title {
        font-size: 96px;
        line-height: 96px;
        font-weight: 700;
        margin-bottom: 24px;

        @media (max-width:1024px) {
            font-size: 48px;
            line-height: 48px;
        }
    }


    &__text {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 48px;

        @media (max-width:1024px) {
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 36px;
        }
    }

    &__btn {
        font-size: 16px;
        padding: 0px 41px;
        line-height: 48px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        background-color: #000;
        transition: all ease .3s;

        &:hover {
            color: rgb(255, 3, 3);
            border: 1px solid rgb(143, 42, 42);
        }

        &:active {
            color: #fff;
            border: 1px solid #fff;
        }
    }
}

//!--------------------CAP  

.cap {
    background-image: url(../img/images/cap.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 144px 160px;

    @media (max-width:1200px) {
        padding: 60px 60px;
    }

    @media (max-width:900px) {
        padding: 20px 20px;
    }

    @media (max-width:480px) {
        background-image: url();
        padding: 10px 0;
    }


    &__inner {
        display: flex;
        justify-content: space-between;

        @media (max-width:900px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__list--left {
        text-align: right;

        @media (max-width:900px) {
            text-align: center;
        }


    }

    &__item {
        position: relative;
        max-width: 272px;

        &:not(:last-child) {
            margin-bottom: 48px;
        }

        @media (max-width:480px) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -80px;
            width: 64px;
            height: 64px;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            @media (max-width:480px) {
                display: none;
            }
        }

        @media (max-width:900px) {
            &:last-child {
                margin-bottom: 48px;
            }
        }

        @media (max-width:480px) {
            &:last-child {
                margin-bottom: 20px;
            }
        }
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;

    }

    &__list--right {
        text-align: left;

        @media (max-width:900px) {
            text-align: center;
        }
    }

    &__item--1::after {
        background-image: url(../img/icons/cap-icon1.png);
    }

    &__item--2::after {
        background-image: url(../img/icons/cap-icon2.png);
    }

    &__item--3::after {
        background-image: url(../img/icons/cap-icon3.png);
    }

    &__item--4::after {
        left: -80px;
        background-image: url(../img/icons/cap-icon4.png);

        @media (max-width:900px) {
            left: 105%;
        }
    }

    &__item--5::after {
        left: -80px;
        background-image: url(../img/icons/cap-icon5.png);

        @media (max-width:900px) {
            left: 105%;
        }
    }

    &__item--6::after {
        left: -80px;
        background-image: url(../img/icons/cap-icon6.png);

        @media (max-width:900px) {
            left: 105%;
        }
    }
}


//!-=-=-=-=-=-=-=-FRESH

.fresh {
    background-image: url(../img/images/fresh--bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width:768px) {
        background-position: left center;
    }

    &__inner {
        padding: 96px 0;
        text-align: center;
        color: #fff;
        max-width: 470px;
        margin: 0 auto;

    }

    &__title {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 48px;
        font-weight: 700;

        @media (max-width:480px) {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 30px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        max-width: 470px;
        margin: 0 auto;
        margin-bottom: 48px;

        @media (max-width:480px) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 30px;
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 48px;
        padding: 0 41px;
        border: 1px solid #FFFFFF;
        color: #fff;
        background-color: transparent;
        text-transform: uppercase;
        transition: all linear .2s;

        &:hover {
            background-color: rgba(90, 64, 64, 0.479);
            border: 1px solid #fa0303;
        }

        &:active {
            background-color: rgba(180, 36, 36, 0.322);
            color: rgb(228, 105, 105);
        }

        @media (max-width:480px) {
            line-height: 40px;
            padding: 0 30px;
        }
    }
}


//!-=-=-=-=-=-=-explore

.explore {
    background-color: #D9D9D9;

    .title::after {
        background-color: #000;
    }

    &__inner {
        padding: 100px 0;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 48px;
    }

    &__text {
        max-width: 474px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 48px;
    }

    &__change {
        text-align: center;
    }

    &__btn {
        text-transform: uppercase;
        background-color: transparent;
        transition: all linear .3s;
        border-bottom: 1px solid transparent;
        margin-bottom: 48px;

        &:hover {
            border-bottom: 1px solid #000;
        }
    }

    &__btn--food {
        margin-right: 40px;
    }

    &__btn--drink {}

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1118px;
        margin: 0 auto;


        @media (max-width:1100px) {
            justify-content: center;
            flex-direction: column;
        }

        @media (max-width:600px) {
            justify-content: start;
            align-items: start;
            padding: 0 10px;

        }
    }

    &__menu-item {
        padding-left: 96px;
        margin-bottom: 48px;
        width: 548px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 72px;
            height: 72px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        @media (max-width:600px) {
            width: auto;
        }
    }

    &__menu-title {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__menu-prise {
        display: block;
        text-align: right;
        position: relative;
        top: -20px;
        font-size: 16px;

        @media (max-width:600px) {
            text-align: right;
            margin-bottom: 10px;
            position: static;
        }
    }

    &__menu-text {
        font-size: 12px;
    }

    &__menu-item--1::before {
        background-image: url(../img/icons/explore/1.png);
    }

    &__menu-item--2::before {
        background-image: url(../img/icons/explore/3.png);
    }

    &__menu-item--3::before {
        background-image: url(../img/icons/explore/2.png);
    }

    &__menu-item--4::before {
        background-image: url(../img/icons/explore/5.png);
    }

    &__menu-item--5::before {
        background-image: url(../img/icons/explore/3.png);
    }

    &__menu-item--6::before {
        background-image: url(../img/icons/explore/1.png);
    }

    &__menu-item--7::before {
        background-image: url(../img/icons/explore/4.png);
    }

    &__menu-item--8::before {
        background-image: url(../img/icons/explore/2.png);
    }

    &__menu-item--9::before {
        background-image: url(../img/icons/explore/5.png);
    }

    &__menu-item--10::before {
        background-image: url(../img/icons/explore/3.png);
    }
}


//!-=-=-=-=-=-=-=testim

.testim {
    &__inner {
        background-image: url(../img/images/testim-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 96px 0;

        @media (max-width:600px) {
            padding: 80px 10px;
        }
    }

    &__list {
        max-width: 100%;
    }

    &__item {
        text-align: center;
        color: #FFFFFF;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;

        margin-bottom: 48px;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        max-width: 735px;
        margin: 0 auto 24px;
    }

    &__sub-text {
        margin-bottom: 48px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;

    }

    .slick-dots button {
        font-size: 0;
        width: 11px;
        height: 11px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 10px;
        transition: all linear .2s;
    }

    .slick-active button {
        background-color: #fff;
    }

}

//!-=-=-=-=-=-=---NEWS

.news {
    background-color: #eee;
    padding: 96px 0;

    @media (max-width:600px) {
        padding: 30px 0px;
    }

    .title::after {
        background-color: #444;
    }

    &__inner {
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 48px;
    }

    &__text {
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 24px;
        color: #111;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }

    &__item {
        max-width: 352px;
        text-align: left;

        @media (max-width:600px) {
            padding: 0 10px;
        }
    }

    &__img {
        @media (max-width:600px) {
            max-width: 100%;
        }
    }

    &__img--1 {}

    &__sub-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    &__sub-text {
        font-size: 16px;
        line-height: 1;
        margin-bottom: 24px;
    }

    &__link--1 {
        font-size: 12px;
        line-height: 24px;
        color: #000;
        margin-left: 20px;
        position: relative;
        transition: all linear .2s;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -12px;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 1px;
            background-color: #000;
        }

        &:hover {
            color: rgb(124, 86, 86);
        }
    }
}

//!=-=-=-=--=-=-=--- location

.locations {
    padding: 96px 0;
    background-image: url(../img/images/locations.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    &__inner {
        text-align: center;
        color: #fff;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 48px;
    }

    &__text {
        margin: 0 auto 48px;
        max-width: 243px;
    }

    // &__list {
    //     display: flex;
    // }

    .location__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        max-width: 256px;
    }

    .locations__img {
        margin-bottom: 24px;
    }

    &__sub-title {
        margin-bottom: 24px;
    }

    &__time {
        margin-bottom: 5px;
    }

    &__adress {
        line-height: 1.2;
    }
}

//!-=-=-=-=-=------ newsletter

.newsletter {

    padding: 96px 0;
    background-color: #111;

    &__inner {
        color: #fff;
        text-align: center;
        max-width: 474px;
        margin: 0 auto;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 48px;
    }

    &__text {
        margin-bottom: 48px;
        font-size: 16px;
        line-height: 24px;
    }

    &__form {
        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
        }
    }

    &__input {
        font-size: 16px;
        line-height: 48px;
        padding: 0 5px 0 24px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        margin-right: 24px;
        cursor: pointer;
        transition: all linear .2s;

        &:hover {
            background-color: rgb(44, 35, 35);
        }

        @media (max-width:768px) {
            margin-bottom: 20px;
            width: 100%;
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 48px;
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        padding: 0 41px;
        transition: all linear .2s;

        &:hover {
            background-color: rgb(44, 35, 35);
        }
    }
}

//!-=-=---------footer
.footer {
    background-color: #111;
    padding: 48px 0;
    color: #fff;

    a {
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

        @media (max-width:768px) {
            gap: 30px;
        }
    }

    &__copy {}

    &__menu {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__link {
        transition: all linear .2s;

        &:hover {
            color: rgb(189, 161, 161);
        }
    }

    &__icons {
        display: flex;
        align-items: center;
    }

    &__icon {

        &:not(:last-child) {
            margin-right: 24px;
        }


    }

    &__icon--link {
        transition: all linear .2s;
        display: block;
        cursor: pointer;
        position: relative;

        &:hover {
            color: rgb(189, 161, 161);
        }

        &::after {
            content: '';
            position: absolute;
            top: -6px;
            right: -4px;
            width: 24px;
            height: 24px;
            background-color: rgba(217, 217, 217, 0.1);
            border-radius: 50%;
        }
    }
}